:javascript
  setUpPusher("#{ENV['PUSHER_API_KEY']}")

= form_with model: @site do |f|
  = f.text_field :url
  = f.submit 'Capture URL'

= button_to 'Delete All', delete_all_sites_path, onclick: "return confirm('Are you sure? This can not be undone!')", method: :delete

%table
  %tr
    %th User
    %th URL
    %th Status
    %th Added
    %th Image
  - @sites.each do |site|
    %tr{id: "#{site.id}"}
      %td= link_to site.user.name, users_path
      %td= link_to site.url, site.url
      %td
        .status
          = site.status.capitalize
      %td= site.created_at.strftime '%B %e, %Y %I:%m %p'
      %td
        .image
          = site.image.attached? ? link_to(site.image.filename, url_for(site.image)) : 'Processing. Please wait...'

= will_paginate @sites